.standard {
  transition: transform .8s cubic-bezier(0.68, -0.55, 0.265, 1.55), font-size .8s ease 1s;
}

.change {
  color: tomato;
  transform: translate3d(100px,0,0);
}

.bottom {
  margin-bottom: 40px;
}
